
<div data-ng-if="topArtists.length > 0">
    <p id="summary">Total {{metaInfo.total}} artists found</p>
    <ul class="list-unstyled">
        <li data-ng-repeat="artist in topArtists">
            <h3><a data-ui-sref="artist({artistName:artist.name, page:1})" target="_blank">{{artist.name}}</a></h3>
            <p>{{artist.listeners}} Listeners</p>
            <div data-ng-if="artist.image.length > 0">
                <a data-ui-sref="artist({artistName:artist.name, page:1})" target="_blank">
                <img data-ng-src="{{img['#text']}}" data-ng-repeat="img in artist.image" data-ng-if="img.size == 'medium'"/>
                </a>
            </div>
        </li>
    </ul>
    <div class="container">
        <ul id="paginator">
            <li data-ng-if="!isFirstPage"><a data-ui-sref="search({country:country, page:currentPage - 1})" ><strong>&lt; Prev</strong></a></li>
            <li data-ng-if="!isFirstPage" data-ng-repeat="p in previousPageNumbers">
                <a data-ui-sref="search({country:country, page:p})" ><strong>{{p}}</strong></a>
            </li>
            <li >{{currentPage}}</li>
            <li data-ng-if="!isLastPage" data-ng-repeat="p in nextPageNumbers">
                <a data-ui-sref="search({country:country, page:p})" ><strong>{{p}}</strong></a>
            </li>
            <li data-ng-if="!isLastPage"><a data-ui-sref="search({country:country, page:currentPage + 1})" ><strong>Next&gt; </strong></a></li>
        </ul>


    </div>
</div>



