/* app css stylesheet */


.search-form  {
  margin: 150px auto 20px;
  width: 700px;

}
.search-form h1 {
  text-align: center;
}
.search-form input[type=text] {
  height: 50px;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.search-form ol {
  list-style: none;
}
.search-form ol li {
  float: left;
  margin: 0 10px 10px 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#keyword {
  width: 450px;
}
.search-form button {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-color: rgb(0, 109, 204);
  background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
  background-repeat: repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.247059);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0.0980392);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.0980392);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.0980392);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 50px;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 11px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 11px;
  text-align: center;
  text-indent: 0px;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
  text-transform: none;
  vertical-align: middle;
  width: 144px;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

.photo {
  float: left;
  list-style: none;
  border: 2px black solid;
  margin: 5px 10px;
}
#image-container, #paginator-panel {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#paginator {
  margin: 65px auto;
  padding: 0;
  list-style: none;
  width: 700px;
}

#paginator li {
  float: left;
  margin-right: 10px;
}

#paginator li a {
  display: block;
  text-decoration: none;
  color: #717171;
  font: bold 11px Arial, sans-serif;
  text-shadow: 0px 1px white;
  padding: 5px 8px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  background: #f9f9f9;

  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

#paginator li a.current {
  color: white;
  text-shadow: 0px 1px #3f789f;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
  background: #7cb9e5;

  background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
}

#paginator li a:hover {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  background: #fff;

  background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

#paginator li a:active,#paginator li a.current:active {
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

#paginator li a.current:hover {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
  background: #99cefc;

  background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
}

