<h3>Top Tracks from <i>{{artistName}}</i> </h3>

<div data-ng-if="topTracks.length > 0">

    <ul class="list-unstyled">
        <li data-ng-repeat="track in topTracks">
            <h3><a data-ng-href="{{track.url}}">{{track.name}}</a></h3>
            <p>Played {{track.playcount}} times by {{track.listeners}} Listeners</p>
            <div data-ng-if="track.image.length > 0">
                <a data-ng-href="{{track.url}}" target="_blank">
                    <img data-ng-src="{{img['#text']}}" data-ng-repeat="img in track.image" data-ng-if="img.size == 'large'"/>
                </a>
            </div>
        </li>
    </ul>
    <div class="container">
        <ul id="paginator">
            <li data-ng-if="!isFirstPage"><a data-ui-sref="artist({artistName:artistName, page:currentPage - 1})" ><strong>&lt; Prev</strong></a></li>
            <li data-ng-if="!isFirstPage" data-ng-repeat="p in previousPageNumbers">
                <a data-ui-sref="artist({artistName:artistName, page:p})" ><strong>{{p}}</strong></a>
            </li>
            <li >{{currentPage}}</li>
            <li data-ng-if="!isLastPage" data-ng-repeat="p in nextPageNumbers">
                <a data-ui-sref="artist({artistName:artistName, page:p})" ><strong>{{p}}</strong></a>
            </li>
            <li data-ng-if="!isLastPage"><a data-ui-sref="artist({artistName:artistName, page:currentPage + 1})" ><strong>Next&gt; </strong></a></li>
        </ul>


    </div>
</div>